USE [Project_PRN]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/3/2026 11:08:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [varchar](400) NOT NULL,
	[RoleID] [varchar](400) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](256) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__Account__349DA586532F3E2B] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 7/3/2026 11:08:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [varchar](400) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 7/3/2026 11:08:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[AuthorID] [varchar](400) NOT NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookApprovals]    Script Date: 7/3/2026 11:08:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookApprovals](
	[ApprovalID] [varchar](400) NOT NULL,
	[BookID] [varchar](400) NOT NULL,
	[AdminID] [varchar](400) NOT NULL,
	[IsApproved] [bit] NOT NULL,
	[Feedback] [nvarchar](max) NOT NULL,
	[ActionDate] [datetime] NOT NULL,
 CONSTRAINT [PK_BookApprovals] PRIMARY KEY CLUSTERED 
(
	[ApprovalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 7/3/2026 11:08:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [varchar](400) NOT NULL,
	[AuthorID] [varchar](400) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](255) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[FilePath] [varchar](255) NOT NULL,
	[Status] [bit] NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK__Books__3DE0C227718669CE] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 7/3/2026 11:08:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[ReaderID] [varchar](400) NOT NULL,
	[BookID] [varchar](400) NOT NULL,
	[AddedAt] [datetime] NULL,
 CONSTRAINT [PK__Favorite__EDB9A9A37E1A6D4D] PRIMARY KEY CLUSTERED 
(
	[ReaderID] ASC,
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchases]    Script Date: 7/3/2026 11:08:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchases](
	[PurchaseID] [varchar](400) NOT NULL,
	[ReaderID] [varchar](400) NOT NULL,
	[BookID] [varchar](400) NOT NULL,
	[DownloadToken] [varchar](255) NOT NULL,
	[IsBought] [bit] NOT NULL,
	[Payment] [decimal](18, 2) NOT NULL,
	[PurchasedAt] [datetime] NOT NULL,
 CONSTRAINT [PK__Purchase__6B0A6BDE24464203] PRIMARY KEY CLUSTERED 
(
	[PurchaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reader]    Script Date: 7/3/2026 11:08:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reader](
	[ReaderID] [varchar](400) NOT NULL,
 CONSTRAINT [PK_Reader] PRIMARY KEY CLUSTERED 
(
	[ReaderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/3/2026 11:08:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [varchar](400) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Role__8AFACE3A15522637] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Token]    Script Date: 7/3/2026 11:08:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Token](
	[TokenID] [varchar](400) NOT NULL,
	[AccountID] [varchar](400) NOT NULL,
	[TokenValue] [varchar](500) NOT NULL,
	[ExpiredDate] [datetime] NOT NULL,
	[IsRevoked] [bit] NOT NULL,
 CONSTRAINT [PK__Token__658FEE8A4BE30682] PRIMARY KEY CLUSTERED 
(
	[TokenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([AccountID], [RoleID], [Email], [Password], [FullName], [Address], [Phone], [IsActive]) VALUES (N'c1916a5c-7dba-489d-b88c-a48d1738a765', N'7cf72ff579e86452930098a96053329d7989259ff44b03a574', N'thientai@gmail.com', N'2c81c2d6bbd4916fa86df962ae2fd0cd0c1ec9a22cbcf6958e50e34c2039197e', N'Thiên Tài', N'idnasicns asdsada', N'012381923', 1)
GO
INSERT [dbo].[Admin] ([AdminID]) VALUES (N'c1916a5c-7dba-489d-b88c-a48d1738a765')
GO
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (N'2cb0529d7467b186da50ad017256929dfd2fc17f5c4d172bae', N'Reader')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (N'7cf72ff579e86452930098a96053329d7989259ff44b03a574', N'Admin')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (N'87a19ae962b8bfe0959282eb7478a7d5805e08387ef8cbad56', N'Author')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__A9D105347103266B]    Script Date: 7/3/2026 11:08:47 PM ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [UQ__Account__A9D105347103266B] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Purchase__142F302BF4B81563]    Script Date: 7/3/2026 11:08:47 PM ******/
ALTER TABLE [dbo].[Purchases] ADD  CONSTRAINT [UQ__Purchase__142F302BF4B81563] UNIQUE NONCLUSTERED 
(
	[DownloadToken] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [UX_Purchases_Reader_Book_Bought]
ON [dbo].[Purchases] ([ReaderID] ASC, [BookID] ASC)
WHERE ([IsBought] = (1))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Token__FE1B80ECF9BE8E36]    Script Date: 7/3/2026 11:08:47 PM ******/
ALTER TABLE [dbo].[Token] ADD  CONSTRAINT [UQ__Token__FE1B80ECF9BE8E36] UNIQUE NONCLUSTERED 
(
	[TokenValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF__Account__IsActiv__276EDEB3]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF__Books__Price__2F10007B]  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF__Books__Status__300424B4]  DEFAULT (NULL) FOR [Status]
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF__Books__CreatedAt__30F848ED]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Favorites] ADD  CONSTRAINT [DF__Favorites__Added__34C8D9D1]  DEFAULT (getdate()) FOR [AddedAt]
GO
ALTER TABLE [dbo].[Purchases] ADD  CONSTRAINT [DF__Purchases__IsBou__3B75D760]  DEFAULT ((1)) FOR [IsBought]
GO
ALTER TABLE [dbo].[Purchases] ADD  CONSTRAINT [DF__Purchases__Purch__3C69FB99]  DEFAULT (getdate()) FOR [PurchasedAt]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK__Account__RoleID__286302EC] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK__Account__RoleID__286302EC]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_Admin_Account] FOREIGN KEY([AdminID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_Admin_Account]
GO
ALTER TABLE [dbo].[Author]  WITH CHECK ADD  CONSTRAINT [FK_Author_Account] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Author] CHECK CONSTRAINT [FK_Author_Account]
GO
ALTER TABLE [dbo].[BookApprovals]  WITH CHECK ADD  CONSTRAINT [FK_BookApprovals_Admin] FOREIGN KEY([AdminID])
REFERENCES [dbo].[Admin] ([AdminID])
GO
ALTER TABLE [dbo].[BookApprovals] CHECK CONSTRAINT [FK_BookApprovals_Admin]
GO
ALTER TABLE [dbo].[BookApprovals]  WITH CHECK ADD  CONSTRAINT [FK_BookApprovals_Books] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[BookApprovals] CHECK CONSTRAINT [FK_BookApprovals_Books]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Author] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Author] ([AuthorID])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Author]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK__Favorites__BookI__36B12243] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK__Favorites__BookI__36B12243]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_Reader] FOREIGN KEY([ReaderID])
REFERENCES [dbo].[Reader] ([ReaderID])
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_Reader]
GO
ALTER TABLE [dbo].[Purchases]  WITH CHECK ADD  CONSTRAINT [FK__Purchases__BookI__3E52440B] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[Purchases] CHECK CONSTRAINT [FK__Purchases__BookI__3E52440B]
GO
ALTER TABLE [dbo].[Purchases]  WITH CHECK ADD  CONSTRAINT [FK_Purchases_Reader] FOREIGN KEY([ReaderID])
REFERENCES [dbo].[Reader] ([ReaderID])
GO
ALTER TABLE [dbo].[Purchases] CHECK CONSTRAINT [FK_Purchases_Reader]
GO
ALTER TABLE [dbo].[Reader]  WITH CHECK ADD  CONSTRAINT [FK_Reader_Account] FOREIGN KEY([ReaderID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Reader] CHECK CONSTRAINT [FK_Reader_Account]
GO
ALTER TABLE [dbo].[Token]  WITH CHECK ADD  CONSTRAINT [FK__Token__AccountID__2C3393D0] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Token] CHECK CONSTRAINT [FK__Token__AccountID__2C3393D0]
GO
